<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Database" value="Production"/>
    <add key="DatabaseAsync" value="ProductionAsync"/>
    <add key="ErrorFile" value="c:\temp\cfss\P28FSSPU_log.txt"/>
    <add key="PathName" value="c:\temp\cfss"/>
    <add key="PathNameMoveTo" value="c:\temp\cfss"/>
    <add key="ServiceID" value="PSDWS001"/>
    <add key="Phrase" value="1cFOYuDWB5Y219NuvXuPDx4wWFfuehFRofEaGfe2Dmc="/>
    <add key="MoveFile" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <!--<add name="Development" connectionString="Data Source=SWAZ04XS03003,3180; Initial Catalog= CFSS; User ID= cwtdev; Password= mVTgwu1ra5ts6PtzAEuuLg==; Connect Timeout=20 " />-->
    <add name="Development" connectionString="Data Source=SWAZ04XS03003,3180; Initial Catalog= CFSS; User ID= cwtdev; Password= mVTgwu1ra5ts6PtzAEuuLg==; Connect Timeout=20 " />
    <add name="Production" connectionString="Data Source=CWNVGPM01056\GMSODC ; Initial Catalog= CFSS; User ID= cwtprod; Password= Jvh57kppVd7OyTUHRNwcGMfTAbsekBjPRzMlCllm/Ng=; Connect Timeout=20 " />
    <add name="DevelopmentAsync" connectionString="Data Source=SWAZ04XS03003,3180; Initial Catalog= CFSS; Asynchronous Processing=true ; User ID= cwtdev; Password= mVTgwu1ra5ts6PtzAEuuLg==; Connect Timeout=20 " />
    <add name="ProductionAsync" connectionString="Data Source= CWNVGPM01056\GMSODC ; Initial Catalog= CFSS; Asynchronous Processing=true ; User ID= cwtprod; Password= Jvh57kppVd7OyTUHRNwcGMfTAbsekBjPRzMlCllm/Ng=; Connect Timeout = 30" />  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>